html,
body {
  height: 100%;
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
video {
  width: 100%;
  height: auto;
  display: block;
}
body {
  background: rgb(6, 30, 71);
  background: linear-gradient(
    0deg,
    rgba(6, 30, 71, 1) 18%,
    rgba(42, 70, 119, 1) 50%,
    rgba(6, 30, 71, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.hero {
  img {
    width: 100%;
    height: auto;
  }
}
h1 {
  color: rgb(255, 126, 34);
  font-size: 190px;
}
h2 {
  color: white;
  font-size: 30px;
  grid-column: 3 / span 4;
}
.underoverskrift {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.overskrift {
  display: flex;
  flex-direction: column; /* Placer overskrifterne vertikalt */
  align-items: flex-start; /* Juster til venstre */
  margin: 1rem 15rem;
}

.nederst {
  margin-left: 5rem;
}
.tal_font {
  color: white;
  font-size: 275px;
  font-family: fantasy;
  padding: 0 4rem;
}
.fakta {
  text-align: center;
  margin: 5rem;
}
.orange_tekststykke {
  background-color: rgb(255, 126, 34);
  font-size: 30px;
  padding: 2rem;
}
.stor_tekst {
  font-size: 60px;
}
