html,
body {
  height: 100%;
  margin: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
video {
  width: 100%;
  height: auto;
  display: block;
}
body {
  background: rgb(6, 30, 71);
  background: linear-gradient(
    0deg,
    rgba(6, 30, 71, 1) 18%,
    rgba(42, 70, 119, 1) 50%,
    rgba(6, 30, 71, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.hero {
  img {
    width: 100%;
    height: auto;
  }
}
h1 {
  color: rgb(255, 126, 34);
  font-size: 190px;
}
.tal_font {
  color: white;
  font-family: "Tangerine", cursive;
}
.overskrift {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.overst {
  grid-column: 1 / 2;
  grid-row: 1;
}
.nederst {
  grid-column: 2 / 3;
  grid-row: 2;
}
