---
import "../styles/style.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Knap from "../components/KnapForside.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Om Kulturnatten</title>
  </head>
  <body>
    <Header />
    <main>
      <h1 class="h1_om_kultur">Er du arrangør?</h1>
      <div class="boat_kultur">
        <img src="../src/assets/boat.svg" alt="båd" />
      </div>
      <div class="tekst">
        <div class="tekststykke">
          <p>
            <span class="stor_tekst">Hvis</span> du har lyst til at deltage med et
            arrangement på Kulturnatten, kan du få det med i det fælles program.
            Som arrangører har I selv det fulde ansvar for begivenheden, herunder
            sikkerhed og indhentning af eventuelle nødvendige tilladelser.
          </p>
        </div>
      </div>
      <div class="boat_kultur2">
        <img src="../src/assets/boat.svg" alt="båd" />
      </div>
      <Knap link="/" text="Opret begivenhed her" />
    </main>
  </body>
  <Footer />
</html>
