---
import Gallericard from "../components/Gallericard.astro";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Galleri</title>
  </head>

  <body>
    <header></header>
    <h1>Galleri</h1>
    <main></main>
  </body>
</html>
