---
import "../styles/style.css";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forside...</title>
  </head>
  <body>
    <Header />
    <main>
      <h1>Kultur</h1>
      <h1>25 natten</h1>

      <section class="hero">
        <img src="../src/assets/bygninger.webp" alt="Hero" />
      </section>
    </main>
  </body>
</html>
