---
import "../styles/style.css";
import Header from "../components/Header.astro";
import Knap from "../components/KnapForside.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forside</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Gasoek+One&family=Hanalei&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Protest+Strike&family=Quicksand:wght@300..700&family=Rasa:ital,wght@0,300..700;1,300..700&family=Rozha+One&family=Rubik+Dirt&family=Xanh+Mono:ital@0;1&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Gasoek+One&family=Hanalei&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Protest+Strike&family=Quicksand:wght@300..700&family=Rasa:ital,wght@0,300..700;1,300..700&family=Rozha+One&family=Rubik+Dirt&family=Xanh+Mono:ital@0;1&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Header />
    <main>
      <div class="overskrift">
        <h1>Kultur</h1>
        <h1 class="nederst"><span class="tal_font">25</span>natten</h1>
      </div>
    </main>
    <div class="underoverskrift">
      <h2>
        19. september: Tikøb<br />26. september: Helsingør & Espergærde
      </h2>
    </div>
    <img class="boelge1" src="../src/assets/boelge.svg" alt="bølge" />
    <img class="boelge2" src="../src/assets/boelge.svg" alt="bølge" />
    <div class="boat_oppe">
      <img src="../src/assets/boat.svg" alt="båd" />
    </div>
    <div class="hero">
      <img src="../src/assets/bygninger.webp" alt="Hero" />
    </div>
    <h2 class="fakta">Mere end 100 aktiviteter fordelt i kommunen</h2>
    <section class="orange_tekststykke">
      <p>
        <span class="stor_tekst">Kulturnætterne</span> i Helsingør Kommune er det
        årlige lyspunkt i det begyndende efterårs mørke aftener. Det lokale kultur-,
        forenings- og handelsliv opfordrer i samarbejde borgerne om at komme ud af
        stuerne for sammen at fylde byrummene i Tikøb, Espergærde og Helsingør med
        liv.
      </p>
    </section>
    <div class="boat">
      <img src="../src/assets/boat.svg" alt="båd" />
    </div>
    <div class="knapper">
      <Knap link="/programpage" text="Se program" />
      <Knap link="/galleri" text="Se galleri" />
      <Knap link="/omkulturnat" text="Om Kulturnatten" />
      <Knap link="/arrangoer" text="Er du arrangør?" />
    </div>
    <div class="boat_nederst">
      <img src="../src/assets/boat.svg" alt="båd" />
    </div>
    <Footer />
  </body>
</html>
