---

---

<article class="header">
  <li>
    <a href="/index" class="forside">
      <img src=" ../src/assets/logo.webp" alt="Logo" />
    </a>
  </li>
  <nav>
    <ul class="menu">
      <li><a href="/programpage" class="program">Program</a></li>
      <li><a href="/galleri" class="galleri">Galleri</a></li>
      <li>
        <a href="/omkulturnat" class="omkulturnat">Om Kulturnat</a>
      </li>
      <li><a href="/arrangoer" class="arrangoer">Arrangør</a></li>
    </ul>
  </nav>
</article>

<style>
  .menu {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 15px;
    padding: 20px;
  }
  .menu a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
  }
  .menu a:hover {
    color: rgb(255, 126, 34);
  }
  .header {
    display: flex;
    justify-content: space-between;
  }
</style>
