---

---

<article class="header">
  <a href="/" class="forside">
    <img src=" ../src/assets/logo.webp" alt="Logo" />
  </a>
  <nav class="menu">
    <ul class="menu_punkter">
      <li>
        <a href="/programpage" class="menu-item">Program</a>
      </li>
      <li><a href="/galleri" class="menu-item">Galleri</a></li>
      <li>
        <a href="/omkulturnat" class="menu-item">Om Kulturnat</a>
      </li>
      <li><a href="/arrangoer" class="menu-item">Arrangør</a></li>
    </ul>
  </nav>
</article>

<style>
  .menu_punkter {
    display: flex;
    list-style: none;
    gap: 15px;
    padding: 10px; /* Juster afstanden mellem menupunkterne */
  }
  .menu li {
    margin: 0;
    list-style: none;
  }
  .menu a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
  }
  .menu a:hover {
    color: rgb(255, 126, 34);
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Juster vertikalt i midten */
  }
  .menu-item {
    position: relative;
  }

  /* Bølge-effekten */
  .menu-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgb(255, 126, 34);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
  }
  /* Når musen hover over menupunktet */
  .menu-item:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
</style>
