---

---

<article class="header">
  <img src="../src/assets/logo.webp" alt="Logo" />
  <nav>
    <ul class="menu">
      <li><a href="programpage.astro" class="program">Program</a></li>
      <li><a href="galleri.astro" class="galler">Galleri</a></li>
      <li>
        <a href="omkulturnat.astro" class="om_kulturnatten">Om Kulturnatten</a>
      </li>
      <li><a href="arrangoer.astro" class="arrangoer">Arrangør</a></li>
    </ul>
  </nav>
</article>

<style>
  .menu {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 15px;
    padding: 20px;
  }
  .menu a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
  }
  .menu a:hover {
    color: rgb(255, 126, 34);
  }
  .header {
    display: flex;
    justify-content: space-between;
  }
</style>
